# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
gui-env/
venv/

# Kivy logs
.kivy/

# Local config directory (not in repo)
.config/piwardrive/

# OS / editor files
.DS_Store
*.swp

# logs
logs/

build/
ckml*.so
webui/node_modules/
webui/dist/
webui/package-lock.json
