[Unit]
Description=PiWardrive Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/piwardrive
ExecStart=/home/pi/piwardrive/gui-env/bin/piwardrive
Restart=on-failure

[Install]
WantedBy=multi-user.target
